general:
  project_name: "my_migration_project"
  log_path: "logs/any2pg.log"
  log_level: "INFO"
  mode: "cli" # tui, cli
  metadata_path: "data/project.db"
  max_retries: 3

database:
  source:
    type: "oracle" # oracle, mysql, mssql, db2 ...
    connection_string: "oracle+cx_oracle://user:password@localhost:1521/?service_name=ORCL"
    # List of schemas to extract. Leave empty or remove to extract default schema only.
    schemas: 
      - "HR"
      - "SCOTT"

  target:
    connection_string: "postgresql+psycopg://postgres:password@localhost:5432/target_db"
    target_schema: "public"

llm:
  provider: "ollama"
  model: "llama3"
  base_url: "http://localhost:11434"
  mode: "fast" # fast (sqlglot only), agent (LLM based)
